@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
  
}

body{
    background-image: linear-gradient(to right,#FFFC33 , #B3B00C);

}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #66640486;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
  color: #2E0066;
  text-align: center;  
  text-shadow: 1px 1px 2px #22004b88 ;
}

h2{
    color: #7231C2;
}

p{
    text-align:justify;
}

